/*

!/.bash_logout
!/.bashrc
!/.bashrc.d

!/.config
/.config/*

!/.config/fish
/.config/fish/fish_variables

!/.config/mise

!/.config/nvim
/.config/nvim/lazy-lock.json
/.config/nvim/lua/plugins/theme.lua

!/.config/starship.toml

!/.gitignore

!/.local
/.local/*
!/.local/scripts

!/.profile
